* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #eaeded;
}
a {
  text-decoration: none;
  color: black;
}


/* CSS du footer */
footer {
  height: 150px;
  background: #0f1111;
}

/* CSS du header */

header {
  height: 150px;
  background: #0f1111;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0 0 10px;
}
nav h2 {
  color: blanchedalmond;
  font-size: 3em;
}
nav ul {
  padding: 20px 0px 10px 0;
}
nav li {
  list-style: none;
  display: inline-block;
  font-size: 1.5em;
  padding: 0 5px;
}
nav li span {
  padding-left: 5px;
  padding-right: 5px;
}
li a {
  padding: 8px;
}
.accueil {
  color: white;
  font-size: 1.5em;
}
.cart {
  font-size: 1.6em;
}
.cart .fa-shopping-cart {
  padding-right: 5px;
  font-size: 1.2em;
}
.cart a {
  background-color: #b12704;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* CSS page index */

h1 {
  text-align: center;
  font-size: 2.5em;
  padding: 40px 0;
  color: #0f1111;
  background: #eaeded;
}
#listofcameras {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eaeded;
}
#listofcameras a {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  background: white;
  border-radius: 20px;
}
article {
  width: 100%;
  padding: 40px 40px 20px;
  display: flex;
  flex-direction: column;
}
article h2 {
  font-size: 2em;
}
article p {
  text-align: left;
  margin: 0;
  font-size: 1.5em;
  color: #b12704;
}

/* CSS page produit */

#product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 1050px;
  padding-top: 50px;
}
#product img {
  width: 100%;
  height: 250px;
}
.description-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 20px;
}
.description-product h2 {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  color: #0f1111;
  text-align: left;
  margin: 0;
  padding-bottom: 5px;
}
.price {
  font-size: 1.5em;
  color: #b12704;
  padding-bottom: 5px;
}
select {
  width: 100px;
}
.description {
  font-size: 1.5em;
  color: #0f1111;
  margin: 0;
  padding-top: 20px;
}
.buy-product {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 80%;
  height: 150px;
  padding: 10px;
  margin: 0 0 20px 20px;
  border: 1px solid grey;
  border-radius: 8px;
}
#product-quantity {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px;
  font-size: 1.2em;
}
.select-quantity {
  width: 30%;
}
#add-to-cart {
  border: 1px solid #b12704;
  border-radius: 8px;
  font-size: 1.2em;
  background: #b12704;
  color: white;
  padding: 5px;
}

/* CSS page panier */
.main-cart {
  height: 1050px;
}
#cart {
  min-width: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border: black solid;
  background: blanchedalmond;
}
.flex-cart {
  display: flex;
  flex-direction: column;
}
.cart-img-flex {
  width: 100%;
}
.flex-cart img {
  width: 100%;
  height: 200px;
  padding: 10px;
}
.description-cart {
  width: 100%;
  padding: 0 20px;
}
.description-cart h2 {
  font-size: 2em;
}
.description-cart p {
  font-size: 1.5em;
}
.price-cart {
  font-size: 1.5em;
  color: #b12704;
}
.total-price-flex {
  padding: 0 20px;
}
.total-price {
  font-size: 1.5em;
  color: #b12704;
}
.delete {
  width: 100px;
  height: 30px;
}
.total-cart {
  font-size: 1.5em;
  padding-left: 20px;
}
.empty {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #b12704;
}
/* CSS du formulaire */
.form-flex {
  display: flex;
  justify-content: center;
}
.form-cart {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.input-cart {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}
input {
  width: 100%;
  height: 30px;
}
label {
  display: flex;
}
.validation {
  display: flex;
  align-items: center;
  height: 50px;
  background: #b12704;
  color: white;
  font-size: 1.3em;
  border: 1px solid #b12704;
  border-radius: 8px;
  padding: 5px;
}

/* CSS page validation */
#confirmation {
  height: 1050px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
#confirmation h2 {
  font-size: 1.5em;
}
.idconfirmation {
  font-size: 1.5em;
  padding-top: 10px;
}
.totalconfirmation {
  font-size: 1.5em;
  color: #b12704;
  padding-top:10px;
}

@media only screen and (min-width: 1224px) {
  
  /* CSS du header */
  nav {
    padding: 50px 60px 0 60px;
  }
  nav h2 {
    font-size: 4em;
  }
  nav li {
    font-size: 22px;
    padding-right: 10px;
    padding-left: 10px;
  }
  li a {
    padding: 5px;
  }

  /* CSS page index */
  h1 {
    font-size: 3em;
  }
  #listofcameras a {
    width: 30%;
  }

  /* CSS page produit */

  #product {
    flex-direction: row;
  }
  #product img {
    width: 500px;
    height: 300px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .description-product {
    width: 40%;
    padding: 0 40px;
  }
  .buy-product {
    width: 200px;
    height: 300px;
  }
  #product-quantity {
    padding: 10px 0 170px;
  }

  /* CSS page panier */
  #cart {
    width: 60%;
    margin: 50px 20%;
  }
  .flex-cart {
    flex-direction: row;
    padding-left: 20px;
  }
  .cart-img-flex {
    width: 150px;
  }
  .flex-cart img {
    width: 150px;
    height: 150px;
  }
  .description-cart {
    width: 75%;
    padding: 10px 40px;
  }
  .total-price-flex {
    width: 30%;
    padding-top: 10px;
  }
  .delete {
    margin-top:20px;
  }
  .total-cart {
    padding-left: 25px;
  }
  .empty {
    font-size: 2em;
  }

  /* CSS du formulaire */
  .form-cart {
    padding-top: 40px;
  }
  .validation {
    height: 30px;
    font-size: 1em;
  }

  /* CSS page validation */
  #confirmation {
    padding: 100px 0 0 40px;
  }
  #confirmation h2 {
    font-size: 3em;
  }
  .idconfirmation {
    font-size: 2em;
  }
  .totalconfirmation {
    font-size: 2em;
    color: #b12704;
  }

  /* CSS du footer */
  footer {
    height: 150px;
    background: #0f1111;
  }
}
